<!DOCTYPE html> 
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analisi Playlist</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdn.plot.ly/plotly-2.32.0.min.js"></script>
</head>
<body>

    <a href="{{ url_for('home.home') }}" class="button">Torna alla Home</a>
    <a href="{{ url_for('home.playlist', playlist_id=playlist_id) }}" class="button">Torna alla Playlist</a>
    <h1>Analisi della Playlist</h1>


    {% if charts %}
        <div class="charts">
            <h2>Top 5 Artisti</h2>
            <div id="fig_artists">{{ charts.fig_artists|safe }}</div>

            <h2>Top 5 Album</h2>
            <div id="fig_albums">{{ charts.fig_albums|safe }}</div>

            <h2>Distribuzione dei Generi Musicali</h2>
            <div id="fig_genres">{{ charts.fig_genres|safe }}</div>
        </div>
    {% else %}
        <p>Nessun grafico disponibile per questa playlist.</p>
    {% endif %}
</body>
</html>
