<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Benvenuto, {{ username }}</h1>
    <form method="GET" action="/home">
        <input type="text" name="query" placeholder="Cerca playlist pubbliche">
        <button type="submit">Cerca</button>
    </form>
    <button onclick="window.location.href='/spotify_login'">Login Spotify</button>
    <button onclick="window.location.href='/my_playlists'">Le mie Playlist</button>
    <button onclick="window.location.href='/random_playlists'">Ricarica Playlist Casuali</button>
    <button onclick="window.location.href='/logout'">Logout</button>
    <h2>Playlist</h2>
    <ul>
        {% for playlist in playlists %}
            <li>
                <img src="{{ playlist.image }}" alt="Playlist Image" width="50">
                <a href="/playlist/{{ playlist.url.split('/')[-1] }}">{{ playlist.title }}</a> - {{ playlist.owner }}
            </li>
        {% endfor %}
    </ul>
</body>
</html>