{% extends "base.html" %}

{% block title %}Le mie Playlist{% endblock %}

{% block content %}
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<h1>Le mie Playlist</h1>
<ul>
    {% for playlist in playlists %}
        <li>
            <strong>{{ playlist.name }}</strong> - {{ playlist.owner }}
            {% if playlist.image %}
            <img src="{{ playlist.image }}" width="50" alt="Copertina playlist">
            {% endif %}
            <a href="/playlist/{{ playlist.url.split('/')[-1] }}">Visualizza Brani</a>
        </li>
    {% endfor %}
</ul>
<a href="{{ url_for('home') }}" class="button">Torna alla Home</a>
{% endblock %}