<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brani della Playlist</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

  
    <script src="https://cdn.plot.ly/plotly-2.32.0.min.js"></script>
    
</head>
<body>
    
    <h1>Brani della Playlist</h1>
    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% else %}
    <ul>
        <a href="{{ url_for('home.home') }}" class="button">Torna alla Home</a>
        <a href="{{ url_for('home.analisi', playlist_id=playlist_id) }}" class="button">Mostra i Grafici</a>
    
        {% for track in tracks %}
        {% for track in tracks %}
        <li>
            <strong>{{ track.name }}</strong> - {{ track.artist }} ({{ track.album }}, {{ track.release_year }})
            - Durata: {{ track.duration }}
            {% if track.cover %}
            <img src="{{ track.cover }}" width="50" alt="Copertina album">
            {% endif %}
            
            
            <a href="{{ track.track_url }}" target="_blank" class="button">Ascolta su Spotify</a>
        </li>
    {% endfor %}
    
        {% endfor %}
    </ul>
    {% endif %}
    
</body>
</html>